*{
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

body > div{
    margin-bottom: 25px;
}

#navbar{
    width: 100%;
    height: 700px;
    background-image: url(https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    color: aliceblue;
}

button{
    margin: 7px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
}

#h3mm{
    font-size: larger;
    text-align: left;
    margin-left: 8%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 13%;
}

.but1{
    background-color: palevioletred;
}

#work >div{
   
    justify-content: center;
}

#workmain{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 150px ;
    grid-gap: 15px;
            grid-template-areas:
           "B1 B1 B1 B1 B1 B1 B2 B2 B2 B2 B2 B2"
           "B3 B3 B3 B4 B4 B4 B2 B2 B2 B2 B2 B2";
    width: 70%; 
}



  
#workmain > div:nth-child(1) {
    grid-area: B1;
    background-image: url(https://images.unsplash.com/photo-1587312284510-5a0a7590743d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
   
}
#workmain > div:nth-child(2) {
    grid-area: B2;
    background-image: url(https://media.istockphoto.com/photos/3d-rendering-interior-house-modern-open-living-space-with-kitchen-picture-id1292046636?k=20&m=1292046636&s=170667a&w=0&h=cugcUlUohTL7rFtsIrdkBXOGAFF-aHR3uo65B7oJ3QM=);
   
}
#workmain > div:nth-child(3) {
    grid-area: B3;
    background-image: url(https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW50ZXJpb3IlMjBkZXNpZ24lMjBzbWFsbCUyMHNpemV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
   
}
#workmain > div:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1560185128-e173042f79dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aW50ZXJpb3IlMjBkZXNpZ24lMjBzbWFsbCUyMHNpemV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    grid-area: B4;
  
}


@media only screen and (min-width: 0px) and (max-width:320px)
        {
           
            #workmain{
                
                width: 100%;
                grid-template-rows:70px 100px 100px 100px 100px;
                grid-template-areas:
               "B1 B1 B1 B1 B1 B1 B1 B1 B1 B1 B1 B1"
               "B3 B3 B3 B3 B3 B3 B3 B3 B3 B3 B3 B3"
               "B4 B4 B4 B4 B4 B4 B4 B4 B4 B4 B4 B4"
               "B2 B2 B2 B2 B2 B2 B2 B2 B2 B2 B2 B2"
            }
        }

        @media only screen and (min-width: 321px) and (max-width:720px)
        {
            #workmain{
                width: 100%;
                grid-template-rows: 150px 150px 200px ;
                grid-template-areas:
              
               "B1 B1 B1 B1 B1 B1 B1 B1 B1 B1 B1 B1"
               "B3 B3 B3 B3 B3 B3 B4 B4 B4 B4 B4 B4"
               "B2 B2 B2 B2 B2 B2 B2 B2 B2 B2 B2 B2";
               
               font-size: larger;
            }
        }


#post{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#post1{
    width: 40%;
}
#post2{
    width: 40%;
}



.postdiv1{
    display: flex;
}
#Container-prod{
 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.img1{
    width: 25%;
    height: 50%;
}



@media only screen and (min-width: 0px) and (max-width:320px)
        {
            #post{
                display: flex;
                flex-direction: column;
                margin: auto;
            }
            #post > div{
                width: 95%;  
            }
           


            #Container-prod{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }



           
        }


        #main {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: 300px 300px;
            grid-gap: 20px;
            margin-top: 100px;
            justify-content: center;
          }
          #main > div {
            /* background-color: #217867; */
            border-radius: 5px;
          }
          /* small screen */
      
          @media only screen and (min-width: 0px) and (max-width: 320px) {
            #main {
              grid-template-columns: repeat(1, 1fr);
              grid-template-rows: 300px;
            }
          }
      
          /* medium screen */
      
          @media only screen and (min-width: 321px) and (max-width: 720px) {
            #main {
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: 300px;
            }
          }
          .imgsize {
            width: 298px;
            height: 298px;
          }
          .rmdetails {
            text-align: center;
            margin: auto;
          }
          span {
            font-family: "Courier New", Courier, monospace;
          }


          div{
            margin: 5px;
          }

          #buttclas{
            word-wrap: normal;
          }


          #buttclas > button{
            
            font-weight: bold;
            color: black;
            border-radius: 5px;
            background-color: grey;
          }
