.Head{
    color: teal;
    text-align: center;
}

table {
    width: 70%;
    margin: auto;
}
  
  th {
    color: white;
    border: 1px solid white;
    background-color: teal;
    text-align: left;
    padding: 8px;
  }
  td{
    border: 1px solid white;
  }
  tr:nth-child(odd) {
    background-color: #c7a1a1;
  }

  tr{
    padding: 2px;
  }

  .filter{
    width: 30%;
    display: flex; 
    margin-left: 810px;
    margin-bottom: 10px;
   }

   #navmain{
    margin: auto;
    display: flex;
    background-color: teal;
    color: white;
    height: 50px;
    padding: 25px 0 0 20px;
    font-size: larger;
    justify-content: space-around;
    cursor: pointer;
}
