
#formdiv{
    margin: auto;
    width: 30%;
    margin-top: 25px;
    padding: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label{
    font-weight: 500;
    margin: 5px;
}
input{
    width: 95%;
    padding: 7px;
    margin-bottom: 5px;
}
select{
    width: 100%;
    padding: 7px;
}

.submit{
    margin-top: 20px;
    width: 100%;
    border: none;
    color: white;
    background-color:teal;;
    height: 30px;
}

.Head{
    color: teal;
}